@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/**********************************************
 ************* Table of Contents **************
 * Section 1: Global style settings
 * Section 2: Backgrounds and Panels
 *      2.0: Graph Window
 *      2.1: Background Map
 *      2.2: Control Panel
 *      2.3: Graph Legend
 *      2.4: Header Banner
 * Section 3: Popups
 * Section 4: Graph Settings
 *      4.0: General
 *      4.1: Nodes
 *      4.2: Edges
 *      4.3: Info Display
 *      4.4: Graph Controls
 *      4.5: Keyframes
 **********************************************/


@font-face {
  font-family: omnes_att_regular;
  src: url(omnesatt2/omnesatt2-regular-webfont.eot);
  src: url(omnesatt2/omnesatt2-regular-webfont.eot?#iefix) format('embedded-opentype'), url(omnesatt2/omnesatt2-regular-webfont.woff) format('woff'), url(omnesatt2/omnesatt2-regular-webfont.ttf) format('truetype'), url(omnesatt2/omnesatt2-regular-webfont.svg#omnes_att_regularregular) format('svg');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Omnes-ATT-W02-Medium";
  src: url("./digital-ng-library/fonts/Omnes_ATTW02Medium.eot");
  src: url("./digital-ng-library/fonts/Omnes_ATTW02Medium.eot?#iefix") format("embedded-opentype"), url("./digital-ng-library/fonts/Omnes_ATTW02Medium.woff") format("woff"), url("./digital-ng-library/fonts/Omnes_ATTW02Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }


/****** Section 1: global style settings ******/
* {
  box-sizing: border-box; }

body {
  overflow: hidden;
  height: 100%;
  margin: 0px;
  font-family: 'Open Sans'; }

svg:not(:root) {
  overflow: visible; }

/*might be causing issues with accessiblity, look into later*/
:focus {
  outline: none; }

.clickable {
  cursor: pointer; }

/********* Section 2: Background and Panels *********/
/****** Section 2.0: Graph Window ******/
topology-graph {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(../resources/images/backgrounds/NOD-Portal-Bkgrnd-without-map-01.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 40px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow: hidden; }

#topology-graph {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(../resources/images/backgrounds/NOD-Portal-Bkgrnd-without-map-01.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 40px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow: hidden; }

.topology {
  position: absolute;
  left: 0;
  top: 0; }

#topology {
  position: absolute;
  left: 0;
  top: 0; }

/****** Section 2.1: Background Map ******/
/****** Section 2.2: Control Panel ******/
.controls-active {
  z-index: 11;
  display: inline-block;
  position: absolute;
  background-color: rgba(60, 65, 85, 0.8);
  left: 0px;
  top: 40px;
  bottom: 0px;
  padding: 0px 10px;
  width: 200px;
  text-align: center;
  color: white; }

.controls-inactive {
  display: none; }

/** Control Elements **/
topology-icon {
  vertical-align: middle;
  cursor: pointer;
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

button.control-input-btn {
  color: black; }

svg.topology-ctrl-btn {
  margin-top: 20px;
  width: 48px;
  height: 48px; }

/****** Section 2.3: Graph legend ******/
#legend {
  overflow-y: auto;
  position: absolute;
  background-color: rgba(200, 200, 200, 0.7);
  right: 0px;
  top: 40px;
  width: auto;
  height: auto;
  max-height: 100%;
  text-align: center;
  padding: 15px 10px 15px 10px;
  color: black;
  display: none;
  z-index: 10; }

#legend.active {
  display: block; }

/** Legend elements **/
legend-icon {
  stroke-width: 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

svg.legend-icon {
  right:0;
  width: 15px;
  height: 15px;
  display: block;
}

svg.newlegend-icon{

  width: 5px;
  height: 5px;
  right:0;


}

#legend-toggle {
  position: absolute;
  right: 15px;
  top: 55px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: rgba(250, 250, 250, 0.6);
  z-index: 10; }

#legend-toggle.active {
  fill: black; }

/*#graph-buttons {
  position: absolute;*/
  /*set to red because it should always be invisible(width and height are 0) */
  /*background: red;
  left: 0px;
  top: 80px;
  width: 0px;
  height: 0px;
  z-index: 10; }*/

#graph-buttons {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  border: 2px solid #ccc;
  width: 280px;
  border-radius: 6px;
  left: 10px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 1px 1px 1px 2px #ccc;
}

#graph-buttons.free-view {
  top: 0px; }

/****** Section 2.4: Header Banner ******/
#head-banner {
  display: inline;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: Black;
  height: 40px;
  padding: 5px 5px 5px 5px; }

/** Header elements **/
#ATTLogo {
  display: inline;
  position: absolute;
  cursor: pointer;
  width: auto;
  fill: none;
  height: 30px;
  left: 16px; }

svg.att-logo-box {
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 50%; }

image.att-logo {
  width: 34px;
  height: 34px; }

text.att-biz-center {
  position: relative;
  color: #ffffff;
  bottom: 10px; }

#profile-image {
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  right: 90px;
  border-radius: 50%; }

#settings-icon {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  right: 50px; }

#shopping-cart {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  right: 10px; }

/********* Section 3: Popups *********/
/****** Section 4: Graph Settings ******/
/** All node types have specfic classes
 ** that can be used to style only them
 ** The use.class-node are for dynamic settings
 ** and the circle.class are for settings that
 ** shouldn't be overwritten **/
/** Section 4.0: General settings **/
use.use-node {
  position: fixed;
  stroke: #ff9966;
  stroke-width: 0;
  stroke-linecap: round; }

g.vertices {
  position: fixed; }

.fade-out {
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }

.fade-out-full {
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.fade-in {
  -webkit-transition: 500ms;
  transition: 500ms; }

use.use-node:hover {
  stroke-width: 2px; }

use.portOnEVC {

  stroke-width: 3; }

use.selected-connection-point {
  stroke: green;
  stroke-width: 3; }

use.portOnEVCAlert {
  stroke-width: 3;
  stroke: red; }

use.PointToPointCenter-node:hover, use.Multilinkhub-node:hover {
  position: fixed;
  will-change: transform;
  -webkit-animation: rotateImage 3s steps(90) infinite;
  animation: rotateImage 3s steps(90) infinite; }

use.Site-node:hover {
  position: fixed;
  /*will-change: transform;*/
  /*-webkit-animation: rotateImage 6s steps(90) infinite;*/
  /*animation: rotateImage 6s steps(90) infinite; */

}

/** Section 4.1 Graph Nodes **/
/* Reminder: settings set to inherit will be 
 * inherited from the use element, and may not
 * be constant throughout various events */
/* Site node */
circle.Site {
  stroke-width: 0;
  fill: #4f59e5; }

circle.SiteInnerAnimation {
  position: fixed;
  stroke-width: 0;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  fill: #ffffff;
  will-change: transform;
  -webkit-animation: siteInnerGlow 2.5s steps(60) 2s infinite alternate;
  animation: siteInnerGlow 2.5s steps(60) 2s infinite alternate; }

circle.SiteInner {
  position: fixed;
  stroke-width: 0;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  fill: #ffffff; }

circle.SiteRing {
  position: fixed;
  fill: inherit;
  stroke-width: inherit;
  stroke-linecap: round;
  stroke-dasharray: 3.14159, 3.14159;
  stroke-dashoffset: 0px;
  /* -webkit-animation: ringRotate 1s steps(60) infinite;
            animation: ringRotate 1s steps(60) infinite; */ }

text.cluster-text {
  stroke: #2f4f4f;
  text-anchor: middle;
  stroke-width: .8px; }

/* Port node */
circle.Port {
  //fill: #a0b4b4;
    /*fill: #c1b501; mustard yellow*/
  fill: #ffc000;


}

circle.PortCluster {
  fill: #141414; }

/* EVC nodes (MTP and PTP) */
circle.EVCAnimation {
  position: fixed;
  fill: #00dddd;
  stroke-width: 0;
  will-change: fill;
  -webkit-animation: PTPGlow 2.5s steps(30) 2s infinite alternate;
  animation: PTPGlow 2.5s steps(30) 2s infinite alternate; }

circle.EVC {
  position: fixed;
  fill: #00dddd;
  stroke-width: 0; }

circle.EVCouter {
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 1.571, 3.14159; }

circle.MultiAnimation {
  position: fixed;
  stroke-width: 0;
  fill: #ff8855;
  will-change: fill;
  -webkit-animation: MTPGlow 2.5s steps(30) 2s infinite alternate;
  animation: MTPGlow 2.5s steps(30) 2s infinite alternate; }

circle.MultiHub {
  position: fixed;
  stroke-width: 0;
  fill: #ff8855; }

/* Flexware and service nodes */
circle.Flexware {
  fill: #9bb83c; }

circle.Service {
  fill: #609fff; }

/** Section 4.2: Graph Edges **/
line.edges {
   //stroke: cyan;
  stroke: #9FA6AD;

  stroke-width: 2px;
  stroke-linecap: round;
  stroke-dasharray: 0; }

line.standard {
  position: fixed;
   stroke: cyan;
 // stroke: #9FA6AD;

  stroke-width: 2px;
  stroke-linecap: round;
  stroke-dasharray: 0;
  will-change: stroke;
  -webkit-animation: lineGlow 2.5s steps(30) 0s infinite alternate;
  animation: lineGlow 2.5s steps(30) 0s infinite alternate; }

  line.newEvc {
    position: fixed;
    stroke: orange;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-dasharray: 0;
    will-change: stroke;
    animation: none;
    -webkit-animation: none;
  }

line.dashin {
  position: fixed;
  stroke-dasharray: 5,5;
   // stroke: cyan;
  stroke: #9FA6AD;
  stroke-width: 2px;
  stroke-linecap: round;
  -webkit-animation: dash 2s steps(60) forwards;
  animation: dash 2s steps(60) forwards; }

line.stop-animation {
  animation: none; }

line.connection-line {
  stroke: #ff9966;
  //stroke: #2A79B3;
  stroke-width: 2.5px; }

line.alert-line {
  stroke: red;
  stroke-width: 2.5px; }

/*
.topology line.ReplicationControllerPod {
    stroke-linecap: round;
    stroke-dasharray: 5, 2;
}
*/
/*
.popup {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 200px;
    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    padding: 8px;
    font-family: 'Open-Sans';
}
*/
/*
.nodelabel {
	text-align: left;	
}
*/
/****** Section 4.3: Info Display on hover ******/
.inFocus {
  z-index: 1; }

path.infoLine {
  //stroke: #cccccc;
  stroke: #004F61;
  stroke-width: 1px;
  fill: none;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

path.infoField {
  //stroke: #efefef;
  stroke: #004F61;
  stroke-width: 1px;
  fill: none;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

path.SiteLabel {
  //stroke: #cccccc;
  //stroke: #004F61;
 // stroke-width: 2px;
  fill: none;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  z-index: 1; }

text.SiteName {
  font-family: "Century Gothic";
  font-size: 16px;
  font-weight: 600;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  fill: #3C4957;
  stroke-width: 0;
  stroke: #3C4957;



}

text.titleBox {
  font-size: 15px;
 // fill: #ffffff;
  fill: #004F61;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

text.infoBox {
  text-anchor: start;
  font-size: 12px;
  // fill: rgba(255, 255, 255, 0.8);
  fill: #004F61;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

text.text-heading {
  font-size: 18px; }

/*Health Progress bar styles*/
progress {
  display: block;
  -webkit-appearance: none;
  border: none;
  width: 210px;
  height: 8px; }

text.network-metric {
  stroke: none;
  fill: red;
  font-size: 14px;
  text-anchor: middle; }

text.network-unit {
  stroke: none;
  fill: #000000;
 // fill:
  font-size: 8px;
  text-anchor: middle;
  font-style: italic; }

text.network-title {
  stroke: #000000;
  stroke-width: .5px;
  fill: #000000;
  font-size: 14px;
  text-anchor: middle; }

text.network-label {
  stroke: none;
  fill: #000000;
  font-size: 12px; }

rect.network-box {
  stroke: #cccccc;
  stroke-width: 1px;
  fill: #efefef;
  opacity: .8; }

circle.percentage-inner-circle {
  fill: #ffffff;
  stroke-width: 0; }

circle.percentage-outer-circle {
  fill: gray;
  stroke-width: 0; }

path.percentage-circle-bar {
  fill: none;
  stroke-width: 4px;
  stroke-dasharray: inherit;
  stroke: inherit; }

text.percentage-circle-text {
  font-size: 12px;
  fill: #000000; }

text.percentage-circle-title {
  font-size: 14px;
  text-anchor: middle;
  fill: #000000; }

rect.flexware-health-box {
  fill: #efefef;
  opacity: .8;
  stroke: #cccccc;
  /**may need to be migrated to js for browser compatiblity */ }

/****** Section 4.4: Graph Controls ******/
.staticButton {
  cursor: pointer; }

#button-loading {
  position: fixed;
  transform-origin: center;
  animation: rotateImage 3s steps(60) forwards infinite; }

#zoom-panel {
  z-index: 11;
  position: fixed;
  display: inline-flex;
  width: auto;
  height: auto;
  top: 50%;
  margin-top: 180px;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  margin-left: 3px; }

#zoom-panel.controls-open {
  top: 30%px; }

#zoom-panel.inactive {
  display: none; }

#zoom-slider-bar {
  position: inline;
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  background: transparent;
  width: 200px;
  margin-top: -2px; }

@-moz-document url-prefix() {
  #zoom-slider-bar {
    margin-top: 10px; } }

#zoom-slider-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #cccccc;
  height: 32px;
  width: 20px;
  border-radius: 5px;
  margin-top: 1px;
  background: #efefef;
  cursor: pointer;
  box-shadow: 1px 1px 1px #2f2f2f, 0px 0px 1px #2f2f2f; }

#zoom-slider-bar::-webkit-slider-runnable-track {
  width: auto;
  height: 36px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #2f2f2f, 0px 0px 1px #2f2f2f;
  background: rgba(200, 200, 200, 0.7);
  border-radius: 5px;
  border: 0.5px solid #cccccc; }

#zoom-slider-bar::-moz-range-thumb {
  -moz-appearance: none;
  border: 1px solid #cccccc;
  height: 32px;
  width: 20px;
  border-radius: 5px;
  background: #efefef;
  cursor: pointer;
  box-shadow: 1px 1px 1px #2f2f2f, 0px 0px 1px #2f2f2f; }

#zoom-slider-bar::-moz-range-track {
  width: 100%;
  cursor: pointer;
  height: 34px;
  /* Hides the slider so custom styles can be added */
  background: rgba(200, 200, 200, 0.7);
  border-color: transparent;
  border-radius: 5px;
  color: transparent; }

#zoom-slider-bar::-ms-thumb {
  border: 1px solid #cccccc;
  height: 32px;
  width: 20px;
  border-radius: 5px;
  margin-top: -1px;
  background: #efefef;
  cursor: pointer;
  box-shadow: 1px 1px 1px #2f2f2f, 0px 0px 1px #2f2f2f; }

#zoom-slider-bar::-ms-track {
  width: 100%;
  cursor: pointer;
  height: 34px;
  margin-top: -4px;
  background: rgba(200, 200, 200, 0.7);
  border-color: transparent;
  border-radius: 5px;
  color: transparent; }

#plus-button {
  width: 40px;
  height: 40px;
  position: inline;
  cursor: pointer;
  margin-top: 1px; }

#minus-button {
  width: 40px;
  height: 40px;
  position: inline;
  cursor: pointer;
  transform: rotate(90deg);
  margin-top: 1px; }

svg.zoom-button {
  fill: rgba(200, 200, 200, 0.7);
  stroke: #ffffff; }

svg.zoom-button:hover {
  fill: rgba(120, 150, 255, 0.75);
  /**optional ablity to change symbol on hover*/
  stroke: #ffffff; }

rect.icon-box {
  stroke: .5px;
  stroke: #2f2f2f;
  fill: inherit;
  /* rx: 5px; can't be used because firefox is annoying
    ry: 5px;
    width: 38px;
    height: 38px; */ }

line.icon-line {
  stroke: inherit;
  stroke-width: 4px;
  stroke-linecap: round; }


/*Toggle for EVC ports and connection lines*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  left:60%;
  top: 8px;
  width: 60px;
  height: 34px;
  z-index: 12;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The working old slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;

  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

}

.slider.round:before {
  border-radius: 50%;
}

/*******New Toggle Switch**********/

 .btn-switch-label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

label {
  line-height: 14px;
  display: block;
}

label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
  cursor: pointer;
}

.btn-switch-label > span {
  -ms-flex: 1;
  flex: 1;
}

.btn-switch {
  //padding: 6px 8px 6px 16px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 16px;
  box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.15) inset, 0 5px 5px -5px rgba(0, 0, 0, 0.15);
  height: 32px;
  overflow: hidden;
  position: relative;
  width: 80px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 35%;
  margin-top: -14%;
  padding-top: 6px;
}

.btn-switch input[type="checkbox"] {
  left: 0;
  margin: 0;
  opacity: 0;
  height: 32px;
  position: absolute;
  top: -1px;
  right: 0;
  width: 100%;
  transition: none;
  z-index: 1;
}


input[type="checkbox" i] {
  margin: 3px 3px 3px 4px;
}

input[type="checkbox" i] {
  -webkit-appearance: checkbox;
  box-sizing: border-box;
}

input[type="radio" i], input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  margin: 3px 0.5ex;
  padding: initial;
  border: initial;
}

.btn-switch input:checked + .switch-overlay {
  left: 0;
  transition: all .3s linear .0s;
}
.btn-switch input + .switch-overlay {
  left: -48px;
  transition: all .3s linear .0s;
}
.switch-overlay {
  border-radius: 16px;
  color: black !important;
  font-size: 1.6rem;
  height: 32px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 126px;
  overflow: hidden;
}

.btn-slider-on, .btn-slider-off {
  top: 0;
}
.btn-slider-on, .btn-slider-off {
  display: inline-block;
 // font-family: "font-regular", "Omnes-ATT-W02";
  height: 32px;
  line-height: 32px;
  position: absolute;
  top: 1px;
  width: 80px;
}
.btn-slider-on {
  left: -1px;
  text-align: left;
  padding-left: 12px;
}

.btn-switch input:checked + .switch-overlay .switch-handle {
  background-color: #007a3e;
  background-image: linear-gradient(to bottom, #008744 0%, #007a3e 100%);
  transition: background-color 0.3s linear 0s;
 // border: 1px solid transparent;
 border-color: #008744 #008744 #007a3e #008744;
}
.btn-switch input + .switch-overlay .switch-handle {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #fcfcfc 0%, #f2f2f2 100%);
  transition: background-color 0.3s linear 0s;
  border: 1px solid #d2d2d2;
}
.switch-handle {
  border-radius: 50%;
  display: inline-block;
  height: 26px;
  left: 50px;
  position: absolute;
  top: 3px;
  width: 26px;
}

.btn-slider-on, .btn-slider-off {
  top: 0;
}
.btn-slider-off {
  right: 1px;
  text-align: right;
  padding-right: 11px;
}



















/*Footer for Legend*/

/*footer {*/
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*max-height: 0px;*/
  /*height: 100px;*/
  /*background-color: #EBEBEB;*/
  /*-webkit-transition: max-height 0.5s;*/
  /*transition: max-height 0.5s;*/
  /*z-index: 12;*/
  /*opacity: 0.5;*/

/*}*/

/*.fTab {*/
  /*position: absolute;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*padding: 1em;*/
  /*background-color: #EBEBEB;*/

  /*-webkit-transition: bottom 0.5s;*/
  /*transition: bottom 0.5s;*/
  /*z-index: 12;*/
  /*cursor: pointer;*/
  /*opacity: 0.5;*/
/*}*/

/*.fTab.active {*/
  /*bottom: 100px;*/
  /*z-index: 12;*/
/*}*/

/*.fTab.active + footer {*/
  /*max-height: 100px;*/
  /*z-index: 12;*/
/*}*/


/* Fixed sidenav, full height */
/*.sidenav {*/
  /*height: 100%;*/
  /*width: 200px;*/
  /*position: fixed;*/
  /*z-index: 12;*/
  /*top: 40px;*/
  /*right: 0;*/
  /*background-color: #EBEBEB;*/
  /*overflow-x: hidden;*/
  /*padding-top: 20px;*/
  /*opacity: 0.8;*/

/*}*/

/* Style the sidenav links and the dropdown button */
/*.sidenav a, .dropdown-btn {*/
  /*padding: 6px 8px 6px 16px;*/
  /*text-decoration: none;*/
  /*font-size: 20px;*/
  /*color: #818181;*/
  /*display: block;*/
  /*border: none;*/
  /*background: none;*/
  /*width:100%;*/
  /*text-align: left;*/
  /*cursor: pointer;*/
  /*outline: none;*/
  /*z-index: 12;*/
/*}*/

/* On mouse-over */
/*.sidenav a:hover, .dropdown-btn:hover {*/
  /*color: #03426e;*/
/*}*/

/* Main content */
/*.main {*/
  /*margin-left: 200px; !* Same as the width of the sidenav *!*/
  /*font-size: 20px; !* Increased text to enable scrolling *!*/
  /*padding: 0px 10px;*/
/*}*/

/* Add an active class to the active dropdown button */
/*.active {*/
  /*background-color: green;*/
  /*color: white;*/
/*}*/

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
/*.dropdown-container {*/
  /*display: none;*/
  /*background-color: #262626;*/
  /*padding-left: 8px;*/
/*}*/

/* Optional: Style the caret down icon */
/*.fa-caret-down {*/
  /*float: right;*/
  /*padding-right: 8px;*/
/*}*/

/*******New Sidenav********/

body{
  background-color:gray;
  margin:0;
  padding:0;
}

.sidenav  {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 12;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.8;

}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 18px;
  font-family: omnes_att_regular;
 // font-family: "Omnes-ATT-W02-Medium";
  // font-family: "font-regular", "Omnes-ATT-W02";
  //color: #818181;
  color: #fefee5;
  display: block;
  transition: 0.3s;
  z-index: 12;
  cursor: pointer;
  text-align: left;
  outline: none;
  border: none;
  background: none;
  width:100%;

}

.slideBtn {
  transition: .5s;
  position: fixed;
  right: 0;
  font-size:30px;
  cursor:pointer;
  margin-right:10px;
}

#main {
  transition: .5s;
  background-color:white;
}

section{
  padding:20px;
}
section+section{
  padding-top:0;
}

article{
  border-top:1px solid green;
  background-color:gray;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  //color: #03426e;
}

/* Add an active class to the active dropdown button */
.active {
 // background-color: green;
  color: white;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.ElemToggleView{
  width: 10px;
  height: 10px;
  margin: 5px 0px;

}

/********Search Bar********/


#searchForm{
  /*padding: 40px;*/
  font-size: 100%;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0.8%;
  padding-top: 60px;
}

input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}


input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}







/*.clearfix{*/
  /*clear: both;*/
/*}*/

/*input{*/
  /*background-color: #ffffff;*/
  /*border: none;*/
  /*font-size: 16px;*/
  /*padding: 10px 0px 10px 0px;*/

/*}*/


/*.expandSearch,*/
/*.expandSearch input,*/
/*.expandSearch a{*/
  /*float: left;*/
  /*-webkit-transition: all 0.4s ease-in-out;*/
  /*-moz-transition: all 0.4s ease-in-out;*/
  /*transition: all 0.4s ease-in-out;*/

/*}*/

/*.expandSearch{*/
  /*border: solid 1px #eeeeee;*/

/*}*/

/*.expandSearch input{*/
  /*height: 22px;*/
  /*overflow: hidden;*/
  /*width: 0px;*/
  /*opacity: 0;*/

/*}*/

/*.expandSearch a{*/
  /*display: block;*/
  /*padding: 12px 15px 8px 15px;*/
  /*background-color: #eeeeee;*/

/*}*/

/*.showSearch input{*/
  /*margin-left: 10px;*/
  /*margin-right: 10px;*/
  /*width: 200px;*/
  /*opacity: 1;*/

/*}*/

/*.showSearch a{*/
  /*background-color: #b3d2f2;*/

/*}*/

/*.showSearch{*/
  /*border-color: #b3d2f2;*/

/*}*/














/****** Section 4.5: Graph Animations ******/
@-webkit-keyframes lineGlow {
  0% {
   //  stroke: #ffffff;
  stroke: #9FA6AD; }
  100% {
    // stroke: rgba(23, 207, 207, 0.7);
    stroke: #9FA6AD;} }

@keyframes lineGlow {
  0% {
   // stroke: #ffffff;
  stroke: #9FA6AD;}
  100% {
    //stroke: rgba(23, 207, 207, 0.7);
  stroke: #9FA6AD;} }

@-webkit-keyframes PTPGlow {
  0% {

     //fill: #00dddd;
   // fill: #A6A616;
      fill:#a7a7a5;
  }
  100% {
    // fill: rgba(20, 179, 179, 0.7);
    //fill: #A6A616;
      fill:#a7a7a5;
  } }

@keyframes PTPGlow {
  0% {
    // fill: #00dddd;
    //fill: #A6A616;
      fill:#a7a7a5;
  }
  100% {
    // fill: rgba(20, 179, 179, 0.7);
    //fill: #A6A616;
      fill:#a7a7a5;
  } }

@-webkit-keyframes MTPGlow {
  0% {
    fill: #ff8855; }
  100% {
    fill: rgba(235, 120, 71, 0.7); } }

@keyframes MTPGlow {
  0% {
    fill: #ff8855; }
  100% {
    fill: rgba(235, 120, 71, 0.7); } }

@-webkit-keyframes siteInnerGlow {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    fill: #ffffff; }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    fill: #efefef; } }

@keyframes siteInnerGlow {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    fill: #ffffff; }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    fill: #efefef; } }

@-webkit-keyframes rotateImage {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes rotateImage {
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes ringRotate {
  0% {
    stroke-dashoffset: 0px; }
  100% {
    stroke-dashoffset: -18.85px; } }

@keyframes ringRotate {
  0% {
    stroke-dashoffset: 0px; }
  100% {
    stroke-dashoffset: -18.85px; } }

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,9; }
  10% {
    stroke-dasharray: 2,8; }
  20% {
    stroke-dasharray: 3,7; }
  30% {
    stroke-dasharray: 4,6; }
  40% {
    stroke-dasharray: 5,5; }
  50% {
    stroke-dasharray: 6,4; }
  60% {
    stroke-dasharray: 7,3; }
  70% {
    stroke-dasharray: 8,2; }
  80% {
    stroke-dasharray: 9,1; }
  90% {
    stroke-dasharray: 10,1; }
  100% {
    stroke-dasharray: 11,0; } }

@keyframes dash {
  0% {
    stroke-dasharray: 1,9; }
  10% {
    stroke-dasharray: 2,8; }
  20% {
    stroke-dasharray: 3,7; }
  30% {
    stroke-dasharray: 4,6; }
  40% {
    stroke-dasharray: 5,5; }
  50% {
    stroke-dasharray: 6,4; }
  60% {
    stroke-dasharray: 7,3; }
  70% {
    stroke-dasharray: 8,2px; }
  80% {
    stroke-dasharray: 9,1; }
  90% {
    stroke-dasharray: 10,1; }
  100% {
    stroke-dasharray: 11,0; } }
